# Auto detect text files and perform LF normalization
* text=auto

# Source files
*.ts text diff=typescript
*.tsx text diff=typescript
*.js text
*.jsx text
*.json text
*.css text
*.html text
*.yml text
*.yaml text
*.md text

# Binary files
*.png binary
*.jpg binary
*.ico binary
*.onnx binary
*.gguf binary
*.bin binary
*.wav binary
*.mp3 binary
*.exe binary
*.dll binary
